@import "./_variables";

    html[data-bs-theme=dark]{
    body{
        background-color: lighten($color: $black, $amount: 8);
        color: $white;
    }
}

html[data-bs-theme=light]{
    body{
        background-color: lighten($color: $black, $amount: 98);
        color: $black-blue;
    }
}

.main_page{
    width: 100%;
    min-height: 100vh;
}

.page_content{
    // background: $white;
    // min-height: 60vh;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

