@charset "utf-8";

// $blue:      #0066ff !default;
// $red:       #dc3545 !default;
// $orange:    #fd7e14 !default;
// $yellow:    #ffc107 !default;
// $green:     #198754 !default;

// Pattern color
$indigo:        #6610f2 !default;
$purple:        #6f42c1 !default;
$pink:          #d63384 !default;
$teal:          #20c997 !default;
$cyan:          #0dcaf0 !default;
$white:         #ffffff !default;
$black:         #000000 !default;
$blue:          #0066CC !default;
$red:           #E61E25 !default;
$orange:        #F58220 !default;
$yellow:        #f2c907 !default;
$green:         #128840 !default;
$gray-light:    #EDEFF0 !default;
$gray-dark:     #D8D8D8 !default;
$black-blue:    #2A313C !default;

$color-global-white: $white;
$color-global-black: $black;

// Greyscale
$color-global-grey10:       #F8F8F8;
$color-global-grey20:       #FCF1F5;
$color-global-grey30:       #E0E4EB;
$color-global-grey40:       #D1DEED;
$color-global-grey50:       #BFC5D4;
$color-global-grey60:       #667085;
$color-global-grey70:       #4E5754;
$color-global-grey80:       #373F4E;
$color-global-grey90:       #212531;
$color-global-grey100:      #0A0E15;



// Grayscale
$color-global-gray10:       #F5F5FA;
$color-global-gray20:       #EBEBF0;
$color-global-gray30:       #DDDDE3;
$color-global-gray40:       #C4C4CF;
$color-global-gray50:       #A6A6B0;
$color-global-gray60:       #808089;
$color-global-gray70:       #64646D;
$color-global-gray80:       #515158;
$color-global-gray90:       #38383D;
$color-global-gray100:      #27272A;

// Blue
$color-global-blue10:       #F0F8FF;
$color-global-blue20:       #DBEEFF;
$color-global-blue30:       #C2E1FF;
$color-global-blue40:       #94CDFF;
$color-global-blue50:       #5CB3FF;
$color-global-blue60:       #1A94FF;
$color-global-blue70:       #0B74E5;
$color-global-blue80:       #0D5BB5;
$color-global-blue90:       #074183;
$color-global-blue100:      #052E5C;

// Purple
$color-global-purple10:     #F5F1FD;
$color-global-purple20:     #E9E1FD;
$color-global-purple30:     #DED0FE;
$color-global-purple40:     #BFA4FE;
$color-global-purple50:     #A079FC;
$color-global-purple60:     #8352FA;
$color-global-purple70:     #733DF2;
$color-global-purple80:     #6028E0;
$color-global-purple90:     #4617B2;
$color-global-purple100:    #371585;

// Ultra marine
$color-global-ultramarine10: #F2F7FF;
$color-global-ultramarine20: #DEEBFF;
$color-global-ultramarine30: #C9DEFF;
$color-global-ultramarine40: #A1C5FF;
$color-global-ultramarine50: #70A6FF;
$color-global-ultramarine60: #3B85FF;
$color-global-ultramarine70: #0A68FF;
$color-global-ultramarine80: #0157E0;
$color-global-ultramarine90: #003EA1;
$color-global-ultramarine100: #002B70;

// Green
$color-global-green10:       #EFFFF4;
$color-global-green20:       #D7FAE0;
$color-global-green30:       #B7EFC3;
$color-global-green40:       #78DA90;
$color-global-green50:       #2DC26D;
$color-global-green60:       #00AB56;
$color-global-green70:       #079449;
$color-global-green80:       #007D3A;
$color-global-green90:       #04592C;
$color-global-green100:      #03401F;

// Red
$color-global-red10:         #FFF0F1;
$color-global-red20:         #FFDBDE;
$color-global-red30:         #FFB8BC;
$color-global-red40:         #FF99A0;
$color-global-red50:         #FF707A;
$color-global-red60:         #FF424E;
// $color-global-red70:         #D93843;
$color-global-red70:         $red;
$color-global-red80:         #BF1D28;
$color-global-red90:         #910F17;
$color-global-red100:        #6E0B12;

// Yellow
$color-global-yellow10:      #FFFCED;
$color-global-yellow20:      #FFF5C7;
$color-global-yellow30:      #FFE880;
$color-global-yellow40:      #FFD530;
$color-global-yellow50:      #FFC400;
$color-global-yellow60:      #FFB700;
$color-global-yellow70:      #E59900;
$color-global-yellow80:      #CC8100;
$color-global-yellow90:      #B26500;
$color-global-yellow100:     #995200;

// Orange
$color-global-orange10:      #FFF5EB;
$color-global-orange20:      #FFE2C6;
$color-global-orange30:      #FFD1A4;
$color-global-orange40:      #FFB56C;
$color-global-orange50:      #FF9F41;
$color-global-orange60:      #FC820A;
$color-global-orange70:      #E36301;
$color-global-orange80:      #B64F00;
$color-global-orange90:      #903F00;
$color-global-orange100:     #6C2F00;

$theme-color-map:(
    'indigo'     : $indigo,
    'purple'     : $purple,
    'pink'       : $pink,
    'teal'       : $teal,
    'cyan'       : $cyan,
    'white'      : $white,
    'black'      : $black,
    'blue'       : $blue,
    'red'        : $red,
    'orange'     : $orange,
    'yellow'     : $yellow,
    'green'      : $green,
    'gray-light' : $gray-light,
    'gray-dark'  : $gray-dark,
    'black-blue' : $black-blue,
);

// 
// System COLOR
$primary-color:           $color-global-ultramarine70;
$primary-lighten100:      $color-global-ultramarine20;
$primary-link:            $primary-color;
$primary-actived:         $primary-color;

$secondary-color:         $color-global-red80;
$secondary-lighten100:    $color-global-red20;
$secondary-link:          $secondary-color;
$secondary-actived:       $secondary-color;

$success-color:           $color-global-orange60;
$warning-color:           $color-global-green60;
$danger-color:            $color-global-red60;
$text-light:              $color-global-grey10;
$text-gray:               $color-global-gray60;
$text-dark:               $color-global-grey100;

$bg-light:                $color-global-grey10;
$bg-dark:                 $color-global-grey100;

$shadow-shape-100: 0 2px 10px rgba( $color-global-black, 0.05);
$shadow-shape-500: 0 2px 10px rgba( $color-global-black, 0.15);
